@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align:center;">
    <h1 class="display-4">Здравствуйте</h1>
    <p>Это сервер для приложения fluffypixi</a>.</p>
</div>
